.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosversion
*.suo
*.cache
*.DotSettings.user
*.aps
*.ncb
*.sdf
*.filters
*.opensdf

*.exe
*.dll
*.pdb

build/
**/build/
*_build-*/
build-*/
*.pro.user
*.pro.user.*
CMakeLists.txt.user
CMakeLists.txt.user.*
.qtc/
*.qmlc
*.jsc

*.o
*.obj
*.lst
*.map
*.sym
*.out

*.log
.DS_Store
Thumbs.db